*{
  /* background-color: #333; */
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#heading{
  background-color: transparent;
  text-align: center;
  font-size: 46px;
  text-decoration: underline;
  color: rgb(22, 31, 62);
}
.container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 330px;
  border-radius: 15px;
  text-align: center;
  padding: 18px 14px;
  margin: 20px;
  background-color: rgb(22, 31, 62);

}
p, h1,span{
   background-color: rgb(22, 31, 62);
}

.card img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.card button{
  padding: 10px 25px;
  background-color:rgb(80, 72, 95) ;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}